.card-container{
    background: rgba(255, 255, 255, 0.15);
    border-radius: 16px;
    display: inline-block;
    margin: 20px 20px 0 20px;
    min-width: 280px;
    box-shadow: 0 4px 30px rgba(92, 92, 92, 0.075);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    }

h1 {
    font-size: 20px;
    margin-block-start: 0.55em;
    margin-block-end: 0.55em;
}

button{
    margin: 10px;
    width: 60px;
    height: 30px;
    padding: 5px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    color: rgb(249, 249, 249);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(153, 153, 153, 0.075);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3)
}