.container-pages {
    padding-top: 40px;
    background-color: rgb(26, 25, 39);
    min-height: 800px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px;
}